# Default values for gm-control-api.
global:
  environment: kubernetes
  domain:
  route_url_name:
  remove_namespace_from_url: ''
  exhibitor:
    replicas: 1
  # XDS will be replaced with gm-control
  xds:
    port: 18000
    cluster: greymatter
  gmControlApi:
    version: 0.7.0
    cli:
      version: 0.4.0

gmControlApi:
  name: gm-control-api
  displayName: gm-control-api
  replicas: 1
  image: 'docker.production.deciphernow.com/deciphernow/gm-control-api:{{ $.Values.global.gmControlApi.version }}'
  imagePullPolicy: Always
  containerPort: 5555
  zone: zone-default-zone
  proxyPort: 8080
  init:
    image: 'docker.production.deciphernow.com/deciphernow/greymatter:{{ $.Values.global.gmControlApi.cli.version }}'
    imagePullPolicy: Always
    envvars:
      greymatter_console_level:
          value: 'debug'
          type: 'value'
      greymatter_api_host:
          value: '{{ .Values.gmControlApi.name }}:{{ .Values.gmControlApi.containerPort }}'
          type: 'value'
      greymatter_api_key:
          value: 'xxx'
          type: 'value'
      greymatter_api_ssl:
          value: 'false'
          type: 'value'
      basic_object_path:
          value: '/tmp/mesh/basic_objects'
          type: 'value'
  envvars:
    gm_control_api_log_level:
      type: 'value'
      value: 'debug'
    gm_control_api_address:
      type: 'value'
      value: '0.0.0.0:5555'
    gm_control_api_org_key:
      type: 'value'
      value: 'deciphernow'
    gm_control_api_persister_type:
      type: 'value'
      value: 'null'
    gm_control_api_zone_key:
      type: 'value'
      value: '{{ .Values.gmControlApi.zone }}'
  resources:
    {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi
