*.tgz
custom*.yaml
credentials.yaml
template.yaml
ci/scripts/manifest.yaml*
greymatter/charts
charts.txt
*.log
.DS_Store
temp.yaml

# Allow admins to store credentials in a file so no passwords leak to bash history
creds
requirements.lock
build-number.txt
logs/
