dockerCredentials:
  - registry: docker.greymatter.io
    email: $EMAIL
    username: $EMAIL
    password: $PASSWORD

data:
  data:
    envvars:
      uses3:
        type: value
        value: 'false'
