dockerCredentials:
  registry: docker.production.deciphernow.com
  email: $EMAIL
  username: $EMAIL
  password: $PASSWORD

data:
  data:
    aws:
      access_key: $ACCESS
      secret_key: $SECRET
      region: $REGION
      bucket: $BUCKET
