dockerCredentials:
  - registry: docker.greymatter.io
    email: $EMAIL
    username: $EMAIL
    password: $PASSWORD

data:
  aws:
    access_key: $ACCESS
    secret_key: $SECRET
    region: $REGION
    bucket: $BUCKET
