kind: ConfigMap
apiVersion: v1
metadata:
  name: postgres-slo-config
  namespace: {{ .Release.Namespace }}
data:
  pg_hba.conf: |-
    # TYPE  DATABASE        USER            ADDRESS                 METHOD

    # "local" is for Unix domain socket connections only
    local all all trust

    # IPv4 local connections:
    host all all 127.0.0.1/32 trust

    # IPv4 remote connections for authenticated users
    hostssl {{ .Values.postgres.credentials.database }} {{ .Values.postgres.credentials.username }} 0.0.0.0/0 md5