# Default values for gm-control-api.
global:

  imagePullSecret: docker.secret
  
  environment: kubernetes
  domain:
  route_url_name:
  control_api_tls: true
  remove_namespace_from_url: ''
  mesh_tls:
    use_provided_certs: true
  exhibitor:
    replicas: 1
  # XDS will be replaced with gm-control
  xds:
    port: 18000
    cluster: greymatter
  gmControlApi:
    version: latest
    cli:
      version: latest
    sidecar:
      version: latest
  data:
    jwt_prefix:
  waiter:
    image: deciphernow/k8s-waiter:latest
    serviceAccount:
      create: true
      name: waiter-sa
  consul:
    enabled: false
    host: ''
    port: 8500
  spire:
    enabled: false
  sidecar:
    version: latest
gmControlApi:
  name: gm-control-api
  displayName: gm-control-api
  replicas: 1
  image: 'docker-dev.production.deciphernow.com/deciphernow/gm-control-api:{{ $.Values.global.gmControlApi.version }}'
  imagePullPolicy: IfNotPresent
  containerPort: 5555
  proxyPort: 8080
  pvcMountPoint: '/app/control-api/data/backend.json'
  secret:
    secret_name: controlapitls
    mountPoint: /service-certs
    secretKeys:
      ca: ca.crt
      cert: server.crt
      key: server.key
  envvars:
    gm_control_api_log_level:
      type: 'value'
      value: 'debug'
    gm_control_api_address:
      type: 'value'
      value: '0.0.0.0:5555'
    gm_control_api_org_key:
      type: 'value'
      value: 'deciphernow'
    gm_control_api_zone_key:
      type: 'value'
      value: '{{ .Values.global.zone }}'
    gm_control_api_zone_name:
      type: 'value'
      value: '{{ .Values.global.zone }}'
    gm_control_api_persister_type:
      type: value
      value: 'file'
    gm_control_api_persister_path:
      type: value
      value: '{{ .Values.gmControlApi.pvcMountPoint }}'
  resources:
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 500m
    #   memory: 1Gi
    # requests:
    #   cpu: 250m
    #   memory: 256Mi
  pvc:
    #  We  default the PVC to 1Gi, but if more is desired, uncomment this line and update the size
    size:

sidecar:
  version: '{{- $.Values.global.gmControlApi.sidecar.version | default $.Values.global.sidecar.version }}'
  image: 'docker-dev.production.deciphernow.com/deciphernow/gm-proxy:{{ tpl $.Values.sidecar.version $ }}'
  imagePullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 200m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi
  envvars:
    xds_cluster:
      type: value
      value: 'gm-control-api'
  secret:
    secret_name: sidecar-certs
    mountPoint: /etc/proxy/tls/sidecar
    secretKeys:
      ca: ca.crt
      cert: server.crt
      key: server.key    
